
<p><%= @genre.songs.first.name %></p>
<p><a href=<%= "/songs/#{@genre.songs.first.slug}" %>></a></p>

<p><%= @genre.artists.first.name %></p>
<p><a href=<%= "/artists/#{@genre.artists.first.slug}" %>></a></p>
