
<p><%= @artist.songs.first.name %></p>
<p><a href=<%= "/songs/#{@artist.songs.first.slug}" %>></a></p>

<p><%= @artist.genres.first.name %></p>
<p><a href=<%= "/genres/#{@artist.genres.first.slug}" %>></a></p>
